body {
    display: flex;
    justify-content: center;
    font-family: -apple-system, BlinkMacSystemFont, sans-serif;
}

.calculator {
    background-color: black;
    height: 936px;
    width: 440px;
}

.output {
    height: 376px;
    background-color: black;
}

.keypad {
    height: 560px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.keypad>.row{
    display: flex;
    justify-content: space-evenly;
}

button {
    width: 110px;
    height: 110px;
    border-radius: 50%;
    padding: 5%;
    font-size: 28px;
    color: white;
    background-color: #505050;
}

button.right-column {
    background-color: #FF9500;
}

button.top-row {
    background-color: grey;
}

.output{
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    color: white;
    font-size: 72px;
}